.myFooter{
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 10px;
}

.socials span{
    font-size:25px;
    padding-right: 10px;
    margin-bottom: 1em;
}

.links{
    display: flex;
    justify-content: space-between;
}

.links a{
    text-decoration: none;
    padding-right: 15px;
    flex-direction: row;
    color: black;
    font-weight: 600;
}

.copyRights{
    color: gray;
    margin-top: 1em;
}

@media screen and (max-width:400px){
    .links a{
        text-decoration: none;
        padding-right: 15px;
        color: black;
        text-align: center;
        font-weight: 600;
    }   
}