.api-data{
    color:white;
    position: absolute;
    padding: 20px;
    top: 150px;
    width: 70vw;
}

.api-data p:nth-child(1){
    font-size: 60px;
    font-weight: 700;
    /* color: rgb(104, 6, 25); */
    color: rgb(211, 43, 147);
}

.api-data p:nth-child(3){
    font-size: 20px;
    font-weight: 500;
    /* color: rgb(104, 6, 25); */
    color: white;
}

.api-data button{
    background-color: #dc143c;
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
    color: white;
}

.rating{
    display: flex;
    justify-content: space-between;
    width: 20vw;
}

.imdb{
    display: flex;
    align-items: center;
}

.tomatoes{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* // Media Query for Hero.jsx */
@media screen and (max-width: 1100px){
    /* .api-data{
        width: 80vw;
    } */
}

    
